.compare-remove-btn {
  position: absolute;
  top: 9px;
  right: 9px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
}

.fixed-compare-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.img-dimension {
  width: 300px;
  height: 300px;
}
