.footer-custom {
  background-color: #323232;
  color: #f8f9fa;
  font-size: 0.95rem;
  overflow: hidden;
}

.footer-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #bfff00;
  margin-bottom: 1rem;
}

.footer-custom a {
  color: #f8f9fa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-custom a:hover {
  color: #bfff00;
}

.footer-logo {
  height: 15rem;           /* Altezza forzata */
  width: 115%;             /* Occupa tutta la colonna */
  object-fit: none;       /* Ritaglia i bordi per riempire */
  object-position: center; /* Centra il ritaglio */
  border-radius: 0.25rem;  /* Opzionale: angoli leggermente arrotondati */
  filter: drop-shadow(0 15px 2px rgba(0, 0, 0, 0.9));
}

.footer-custom .row {
  --bs-gutter-x: 0.5rem;  /* O il valore che vuoi */
}

.footer-logo-col {
  min-height: 250px;
}

.social-icons a {
  color: #f8f9fa;
  font-size: 1.5rem;
  margin: 0 0.9rem;
  padding: 0;
  transition: color 0.3s ease;
}

.social-icons a:first-child {
  margin: 0 1rem 0 0;
}


.social-icons a:hover {
  color: #bfff00;
}

.row .social-icons {
  padding-bottom: 20px;
}
