* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    color: lime;
}


/* NAVBAR */
.custom-navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #1f1f1f;
  height: 80px;
  display: flex;
  align-items: center;
}

/* .navbar-container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.navbar-brand .gradient-text {
  font-size: 1.2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #94FB01, #f3f7f7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 64px;          /* <<< importante: stesso height della navbar */
  list-style: none;
  margin-bottom: 0;
}

.navbar-links .nav-link,
.navbar-links .icon-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1rem;
  display: flex;               /* permette allineamento interno */
  align-items: center;         /* centra l'icona o il testo verticalmente */
  height: 100%;                /* occupano tutta l'altezza del genitore */
  padding: 0 8px;
}

.header-logo {
  height: 5rem;               /* Adatta alla navbar da 80px */
  max-width: 140px;
  width: auto;
  object-fit: contain;
  object-position: center;
  border-radius: 0.25rem;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.7));
}


/* Generico: stile base */
.icon-link {
  color: white;
  transition: color 0.3s ease;
}

/* Wishlist: neon pink */
.icon-link.wishlist-icon:hover {
  color: #ff0000;
}

/* Cart: neon cyan */
.icon-link.cart-icon:hover {
  color: #00ffff;
}

/* link */
.nav-link:hover {
    color: #39FF14;
}

@media (max-width: 768px) {
  .header-logo {
    height: 3.2rem;
    max-width: 100px;
  }
}




