/* Wrapper del contenuto sopra i bottoni */
.card-content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-wrapper {
  position: relative;
  height: 180px; /* altezza immagine ridotta */
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* Riduco il margine della descrizione per adattarsi */
.desc-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 2.8em;
  font-style: italic;
  font-size: 0.85rem;
  color: #adb5bd;
  margin-bottom: 0.5rem;
}

/* Area brand + modello + descrizione + prezzo */
.card-content-top {
  min-height: 160px; /* garantisce spazio per modello + descrizione lunghi */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Bottone cuore in alto a destra */
.btn-like {
background: transparent;
    border: none;
    font-size: 1.4rem;
    color: #ff0019;
    z-index: 2;
    padding: 0.5rem 0.5rem 0 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-like.liked {
  color: #ff0019;
}

.btn-like:hover {
  opacity: 0.9;
}

/* Bottone carrello e visualizza stesso peso */
.btn-secondary,
.btn-outline-light {
  min-height: 40px;
}

/* Piccole regolazioni responsive */
@media (max-width: 768px) {
  .card.h-100 {
    min-height: 460px; /* un po’ più basso su mobile */
  }

  .brand-title {
    font-size: 0.65rem;
  }

  .model-title,
  .card-text,
  .fw-bold {
    font-size: 0.85rem;
  }

  .desc-limit {
    font-size: 0.75rem;
    min-height: 2.4em;
  }

  .btn,
  .btn-cart,
  .btn-outline-secondary {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  .size-qty-wrapper {
    gap: 0.5rem;
  }

  .my-btn-count {
    width: 30px;
    height: 26px;
    font-size: 14px;
  }
}
