.card.h-100 {
  min-height: 480px; /* adatta in base alla tua esigenza visiva */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-title {
  font-size: 0.75rem; /* più piccolo */
  margin-bottom: 0.3rem;
}

.model-title {
  font-size: 1rem;
  font-weight: bold; /* grassetto */
  margin-bottom: 0.5rem;
}

.desc-limit {
  max-height: 3.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  color: #adb5bd; /* grigio chiaro bootstrap */
  font-size: 0.85rem;
}

.img-wrapper {
  height: 250px;
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.card-body {
  background-color: #212529;
  color: white;
  padding: 0.75rem; /* ridotto */
  font-size: 0.9rem; /* più compatto */
}


/* BOTTONE CART*/

.btn-cart {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.btn-cart:hover {
  color: #00FFFF;      /* neon cyan per l'icona */
  border-color: #00FFFF;
  background: transparent; /* niente sfondo */
}


/*BOTTONE WISHLIST*/

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem; /* più grande per l'icona */
  background: transparent;
  border: none;
  cursor: pointer;
}

.liked {
  color: rgb(255, 0, 0);
  border-radius: 4px;
  background: transparent;
  transition: color 0.3s, border-color 0.3s;
}

.liked:hover {
  color: red;
  border-color: red;
}

.not-liked {
  color: white;
  border-radius: 4px;
  background: transparent;
  transition: color 0.3s, border-color 0.3s;
}

.not-liked:hover {
  color: red;
  border-color: red;
}

/* BOTTONE VISUALIZZA DI PIù */
.btn-outline-secondary {
  font-size: 0.8rem; /* leggermente più piccolo */
  padding: 0.25rem 0.5rem;
  color: #adb5bd; /* grigio chiaro */
  border-color: #adb5bd;
}

.btn-outline-secondary:hover {
  color: white;
  border-color: white;
}
